<div class="row mt-5">
  <% @restaurants.each do |restaurant| %>
  <div class="col-sm-6 p-3">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title"><%= restaurant.name %></h3>
        <p class="card-style px-2 py-1 rounded"><%= restaurant.category %></p>
        <p class="card-text"><%= restaurant.address %></p>
        <p class="card-text"><%= restaurant.phone_number %></p>
        <%= link_to "<button class='btn btn-primary'>See restaurant</button>".html_safe, restaurant_path(restaurant) %>
      </div>
    </div>
  </div>
  <% end %>
</div>
